.rounded {
    border-radius: 50px;
}

.bold {
    font-weight: 600;
}

.smallFont {
    font-size: 14px;
}

.tinyFont {
    font-size: 10px;
}

.thin {
    font-weight: 200;
}

.homeRed {
    background: #ff355d;
}